In [9]:
import pandas as pd
import os
os.path.exists('/content/data.csv')

True

In [10]:
df = pd.read_csv(
    '/content/data.csv',
    engine='python',
    encoding='latin1',
    sep=',',
    on_bad_lines='skip'
)

In [11]:
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [12]:
df.nunique()

stn_code                        208
sampling_date                  5021
state                            13
location                        109
agency                           21
type                             10
so2                            1163
no2                            1467
rspm                           1436
spm                            2189
location_monitoring_station     289
pm2_5                           245
date                           4861
dtype: int64

In [13]:
df.describe()

                 so2            no2           rspm           spm        pm2_5
count  105754.000000  114117.000000  105585.000000  62317.000000  4249.000000
mean        9.473669      22.150970      99.797922    211.332575    32.435232
std         8.573007      15.438776      64.027642    138.093404    25.360678
min         0.000000       0.000000       0.000000      0.000000     7.000000
25%         4.300000      13.000000      61.000000    126.000000    22.000000
50%         7.000000      18.000000      85.000000    186.000000    29.000000
75%        12.200000      26.800000     120.000000    268.000000    34.000000
max       228.000000     334.900000    1082.000000   2213.000000   318.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118846 entries, 0 to 118845
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     74130 non-null   object
 1   sampling_date                118846 non-null  object
 2   state                        118846 non-null  object
 3   location                     118846 non-null  object
 4   agency                       72598 non-null   object
 5   type                         117218 non-null  object
 6   so2                          105754 non-null  float64
 7   no2                          114117 non-null  float64
 8   rspm                         105585 non-null  float64
 9   spm                          62317 non-null   float64
 10  location_monitoring_station  110112 non-null  object
 11  pm2_5                        4249 non-null    float64
 12  date                         118846 non-null  object
dtypes: float64(5), object(8)
memory usage: 11.8+ MB

# Step - 1

In [18]:
import numpy as np
rno = 102313020
data = df['no2'].dropna()
x = data.values
r=rno
ar = 0.05 * (r % 7)
br = 0.3 * (r % 5 + 1)
z = x + ar * np.sin(br * x)

print(f"Step 1 Complete.")
print(f"Parameters used: ar = {ar}, br = {br}")

Step 1 Complete.
Parameters used: ar = 0.25, br = 0.3

# Step - 2

In [19]:
mean = np.mean(z)
sigma = np.std(z)
lambda_val = 1 / (2 * sigma**2)
c_val = 1 / (sigma * np.sqrt(2 * np.pi))

print(f"rno={rno}")
print(f"mean={mean}")
print(f"lambda_val={lambda_val}")
print(f"c_val={c_val}")

rno=102313020
mean=22.116537578450416
lambda_val=0.002092742404850967
c_val=0.025809699663113164